.divGeneral {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(46, 127, 51, 0.5);
  background-size: cover;
  border-radius: 1.5rem;
  border-style: solid;
  border-color: #2e7f33;
  -webkit-box-shadow: 1px 2px 20px 0px rgba(46, 127, 51, 1);
  -moz-box-shadow: 1px 2px 20px 0px rgba(46, 127, 51, 1);
  box-shadow: 1px 2px 20px 0px rgba(46, 127, 51, 1);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 10px;
}
.imgName {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 200px;
  border-style: solid;
  border-color: #0f0f0fc8;
}

.image:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 1px 2px 20px 0px rgba(136, 254, 3, 1);
  -moz-box-shadow: 1px 2px 20px 0px rgba(136, 254, 3, 1);
  box-shadow: 1px 2px 20px 0px rgba(136, 254, 3, 1);
}

.info {
  flex: 1;
}

.h2 {
  color: black;
}

.buttonBackStyle {
  background-color: #0a0a09c8;
  color: white;
  border: none;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 30px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBackStyle:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .divGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-size: cover; /* Ajusta el fondo a la resolución de la pantalla */
    background-position: center;
    background-repeat: no-repeat;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }

  .imgName {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .h1Character {
    text-align: center;
    font-size: 24px; /* Ajusta el tamaño de la fuente */
    margin: 10px 0;
  }

  .info {
    text-align: center;
    width: 100%;
  }

  .h2 {
    font-size: 18px; /* Ajusta el tamaño de la fuente */
    margin: 5px 0;
  }

  .buttonBackStyle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}
