.divGeneral {
  background-image: url("../images/fondocard3.jpg");
  background-size: 320px 530px;
  border-style: solid;
  border-color: #f9f9f7;
  display: inline-block;
  border-radius: 20px;
  color: rgb(22, 21, 21);
  padding: 5px;
  opacity: 0.9;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.divGeneral:hover {
  transform: scale(1.05);
  opacity: 1;
}

.divButtonPosition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttonStyle {
  border-radius: 40px;
  background-color: transparent;
  border: none;
  display: block;
  height: 45px;
  width: 45px;
  opacity: 0.8;
  margin-right: 10px;
}

.buttonStyle:hover {
  opacity: 1;
}

.linkStyle {
  text-decoration: none;
  color: inherit;
}

.imgBorderStyle {
  border-color: white;
  border-radius: 150px;
}

.divSeparate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.buttonFavStyle {
  background-color: transparent;
  border: none;
  font-size: 30px;
  opacity: 0.8;
}

h2 {
  color: white;
}

@media (max-width: 768px) {
  .divGeneral {
    width: 90%; /* Ajusta el ancho para que ocupe el 90% del ancho de la pantalla */
    height: auto; /* Ajusta la altura automáticamente */
    background-size: cover; /* Ajusta el fondo para cubrir el contenedor */
    padding: 10px; /* Aumenta el padding para dispositivos móviles */
  }

  .divButtonPosition {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
    margin-top: 5px;
  }

  .buttonStyle {
    height: 35px; /* Ajusta la altura del botón */
    width: 35px; /* Ajusta el ancho del botón */
    margin-right: 0; /* Elimina el margen derecho */
    margin-bottom: 10px; /* Agrega un margen inferior */
  }

  .imgBorderStyle {
    width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Ajusta la altura automáticamente */
    border-radius: 10px; /* Ajusta el radio del borde */
  }

  .divSeparate {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Alinea los elementos al centro */
  }

  .buttonFavStyle {
    font-size: 24px; /* Ajusta el tamaño de la fuente */
  }

  h2 {
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    margin: 5px 0; /* Ajusta los márgenes */
  }
}