.divGeneral {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-size: cover;
  padding-bottom: 5.3rem;
  padding-top: 1rem;
}

.formStyle {
  background-color: rgba(46, 127, 51, 0.8);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  -webkit-box-shadow: 1px 2px 20px 0px rgba(46, 127, 51, 1);
  -moz-box-shadow: 1px 2px 20px 0px rgba(46, 127, 51, 1);
  box-shadow: 1px 2px 20px 0px rgba(46, 127, 51, 1);
  padding: 0.5rem;
  position: relative;
}

.imgStyle {
  width: 23rem;
  height: 23rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
  opacity: 0.8;
}

.labelStyle {
  display: block;
  margin: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  opacity: 0.8;
}

.inputStyle {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.7rem;
  background-color: #fff;
  color: #555;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.inputStyle:focus {
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.divButtonContainer {
  margin-top: 0.2rem;
}

.buttonStyle {
  border: none;
  cursor: pointer;
  padding: 1.8rem;
  margin-bottom: 0.7rem;
  margin-top: 0.5rem;
  background-color: transparent;
  background-image: url("../images/huella.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.7rem;
  opacity: 0.8;
}

.buttonStyle:hover {
  opacity: 1;
  -webkit-box-shadow: 1px 2px 20px 0px rgb(8, 147, 123);
  -moz-box-shadow: 1px 2px 20px 0px rgb(8, 147, 123);
  box-shadow: 1px 2px 20px 0px rgb(8, 147, 123);
}
